<div class="row">
  <note class="col-md-4" ng-repeat="note in $ctrl.notes"
    note="note" options="{isEditable: note.owner == $ctrl.userService.user.data.resource_uri}">
</div>
<div class="row" ng-show="$ctrl.metadata.total_count > $ctrl.noteLimit">
  <div class="col-xs-12">
    <nav class="text-center">
      <ul uib-pagination total-items="$ctrl.metadata.total_count"
        max-size="10" force-ellipses="true" items-per-page="$ctrl.noteLimit"
        boundary-links="true" ng-model="$ctrl.currentPage"
        ng-change="$ctrl.update()"></ul>
    </nav>
  </div>
</div>
