<div class="panel"
  ng-class="{'panel-warning': $ctrl.editState === $ctrl.EDIT,
    'panel-danger': $ctrl.editState === $ctrl.DELETE,
    'panel-primary': $ctrl.options.isEditable && $ctrl.editState === $ctrl.VIEW,
    'panel-info': !$ctrl.options.isEditable}">
  <div class="panel-heading clearfix">
    <input ng-model="$ctrl.notecopy.title" ng-if="$ctrl.editState === $ctrl.EDIT"></textarea>
    <h2 class="panel-title pull-left" ng-if="$ctrl.editState !== $ctrl.EDIT"
      ng-bind="$ctrl.note.title"></h2>
    <div class="btn-group btn-group-xs pull-right" ng-if="$ctrl.options.isEditable">
      <button type="button" ng-if="($ctrl.editState === $ctrl.EDIT) || ($ctrl.editState === $ctrl.DELETE)"
        ng-click="$ctrl.resetNote()" class="btn btn-default">Cancel</button>
      <button type="button" ng-if="$ctrl.editState === $ctrl.EDIT"
        ng-click="$ctrl.updateNote()" class="btn btn-default">OK</button>
      <button type="button" ng-if="$ctrl.editState === $ctrl.DELETE"
        ng-click="$ctrl.deleteNote()" class="btn btn-default">Confirm</button>
      <button type="button" ng-if="$ctrl.editState === $ctrl.VIEW"
        ng-click="$ctrl.toggleEditing()" class="btn btn-default">E</button>
      <button type="button" ng-if="$ctrl.editState === $ctrl.VIEW"
        ng-click="$ctrl.toggleDeletion()" class="btn btn-default">X</button>
    </div>
  </div>
  <div class="panel-body">
    <textarea class="form-control" ng-if="$ctrl.editState === $ctrl.EDIT"
      ng-model="$ctrl.notecopy.content"></textarea>
    <span ng-bind="$ctrl.note.content" ng-if="$ctrl.editState !== $ctrl.EDIT"></span>
    <div ng-show="$ctrl.note.shared_with.length">
      <span>Shared with:</span>
      <span ng-repeat="user in $ctrl.note.shared_with" class="label label-info"
        ng-bind="user.username"></span>
    </div>
    <user-selector ng-if="$ctrl.editState === $ctrl.EDIT"
      selected="$ctrl.notecopy.selectedUsers"
      on-update="$ctrl.updateSelected(selected)"></user-selector>
  </div>
  <div class="panel-footer">
    Created on {{$ctrl.note.created_on | date}},
    updated on {{$ctrl.note.updated_on | date}}
  </div>
</div>
