  <div class="row">
    <div class="col-xs-12 clearfix">
      <ul class="nav nav-pills pull-left">
        <li ui-sref-active="hidden"><a href="#" ui-sref="main.note.list">List notes</a></li>
        <li ui-sref-active="hidden"><a href="#" ui-sref="main.note.add">Add Note</a></li>
      </ul>
      <ul class="list-inline pull-right">
        <li><a href="#" ui-sref-active="active" ui-sref="main.note.list" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></a></li>
        <li><a href="#" ui-sref-active="active" ui-sref="main.note.listview" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></a></li>
      </ul>
    </div>
  </div>
  <ui-view></ui-view>
